/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --sidebar-width: 200px;
  --profile-image-height: 70px;
  --profile-image-width: 70px;
  font-family: 'Inter', sans-serif;
}

body{
  margin: 0%;
  padding: 0%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: #353C53;
  margin: 0%;
  padding: 1rem;
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--sidebar-width);
}
.profile_sub_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile_img{
  width: var(--profile-image-width);
  height: var(--profile-image-height);
  border-radius: 10px;
  margin-right: 1rem;
}
.profile_details_div{
  height: var(--profile-image-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.profile_name{
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0%;
}
.profile_store_link{
  font-size: 0.8rem;
  color: white;
  margin: 0%;
  text-decoration: underline;
  cursor: pointer;
}

/*sidebar logos*/

.side_bar_logos_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: var(--sidebar-width);
}

.sidebar_link_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_logo{
  width: 25px;
  height: 25px;
}

.sidebar_logo_name{
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 0%;
  margin-left: 1rem;
}

