/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --sidebar-width: 200px;
  --profile-image-height: 70px;
  --profile-image-width: 70px;
  --screen-height: calc(100vh - 2rem);
  font-family: "Inter", sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.sidebar_container {
  height: var(--screen-height);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--sidebar-width);
  background-color: #1e2640;
  margin: 0%;
  height: 100%;
  padding: 1rem;
}

.profile_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--sidebar-width);
}
.profile_sub_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile_img {
  width: var(--profile-image-width);
  height: var(--profile-image-height);
  border-radius: 10px;
  margin-right: 1rem;
}
.profile_details_div {
  height: var(--profile-image-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.profile_name {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin: 0%;
}
.profile_store_link {
  font-size: 0.8rem;
  color: white;
  margin: 0%;
  text-decoration: underline;
  cursor: pointer;
}

/*sidebar logos*/

.side_bar_logos_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: var(--sidebar-width);
}

.sidebar_link_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar_logo {
  width: 25px;
  height: 25px;
}

.sidebar_logo_name {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 0%;
  margin-left: 1rem;
}

/*credits*/

.credits_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: var(--sidebar-width);
  /* margin-bottom: 1rem; */
}

.credits_div {
  background: #353c53;
  height: 4rem;
  margin: 0%;
}
.credits_div p {
  margin: 0%;
}
.credits_img_div {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.credits_details {
  display: flex;
  flex-direction: column;
}
.credits_text {
  font-weight: 500;
  color: white;
  opacity: 0.5;
  font-size: 0.9rem;
}
.credits_num {
  color: white;
  font-weight: 600;
}




.main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - var(--sidebar-width) - 2rem);
  height: var(--screen-height);
}



.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* width: calc(100vw - var(--sidebar-width) - 2rem); */
  width: 95%;
}

.navbar_1 {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
}
.navbar_1 p {
  margin: 0%;
}
.navbar_1_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}



.navbar_3{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: 1rem; */
}


.view_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: 100%;
  margin-top: 1rem;
}

.overview{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.overview>p{
  font-weight: 600;
  font-size: 2rem;
}

.overview_cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.card{
  width: 30%;
  height: 100%;
  /* height: 200px; */
  border-radius: 10px;
  /* padding: 0rem 1rem; */
  box-shadow: 0px 1px 10px 0px rgba(237, 237, 237, 0.2), 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.sub_card_1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  width: 90%;
}


.card_1{
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
}

.high_card{
  background: #1e2640;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 0rem 2rem; */
  color: white;
  /* padding: 0%; */
  /* padding: 1rem 0rem 0rem; */
}

.card_2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card_3{
  width: 100%;
  /* padding: 10px; */
  border-radius: 10px;
  background-color:#353c53;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_3>div{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 1.5rem;
}

.card_1>p{
  margin: 0%;
  font-size: 1.4rem;
  font-weight: 400;
}

.card_1>div{
  margin-left: 0.5rem;
}


.amt{
  font-size: 2rem;
  font-weight: 600;
}

.num_orders{
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.num_orders>p{
  margin: 0%;
  margin-right: 0.3rem;
  text-decoration: underline;
}

.num_orders>span{
  text-decoration: none;
}

.orders_text_2{
  color: cadetblue;
}